@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin:0;
    padding:0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
    a{
        text-decoration: none;
        color: darkred;
    }
    a:hover{
        text-decoration: underline;
        color: lightcoral;
    }
}
.navbar-menu-toggle {
    display: none;
}

/* side navbar */
.side-navbar{
    width: 50%;
    height: 100%;
    background-color: darkred;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 20px;
    color: #fff;
    transition: 1.2s;

    .side-navbar-link{
        margin-bottom: 30px;
    }
    .side-navbar-links a{
        text-decoration: none;
        color: #fff;
    }
    a:hover{
        text-decoration: underline;
        color: lightcoral;
    }

}

/*header */

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    .header-button{
        padding: 10px 20px;
        background-color: darkred;
        color: #fff;
        border: none;
    }
    .header-button:hover{
        background-color: transparent;
        border: solid darkred 1px;
        border-color: darkred;
        color: darkred;
    }
}

/* Service */
.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
}
.service-container-2 div{
    margin: 10px;
    background-color: #F2f4f7;
}

/* New arrivals*/
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img{
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
    button{
        padding: 3% 7%;
        margin-top: 10px;
        color: darkred;
        position: absolute;
        top: 50%;
        left: 15%;
        border-radius: 10px;
        border: none;
    }
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}


.most-wanted{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img{
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
    button{
        padding: 3% 7%;
        margin-top: 10px;
        color: darkred;
        position: absolute;
        top: 50%;
        left: 15%;
        border-radius: 10px;
        border: none;
    }
}
.most-wanted-container{
    position: relative;
    flex-basis: 20%;
}

/* News */
.news{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        padding: 10px;
        width: 1000px;
        border: solid black 3px;
    }
    button{
        margin-top: 10px;
        color: #F2f4f7;
        background-color: darkred;
        border-radius: 10px;
        padding: 10px;
    }
}

/* footer */
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: darkred;
    color: white;
}

/* Product section */
.product-section{
    margin-top: 20px;
    .product-search{
        width: 80%;
        border: solid black 2px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: auto;
        margin-bottom: 10px;
        input{
            border: none;
            background-color: transparent;
            width: 100%;
        }
        input:focus{
            outline: none;
        }
    }
}

.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    .product-box{
        text-align: center;
        flex-basis: 20%;
        img{
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
    }
}

/*Contact box*/
.contact-box{
    background-color: black;
    color: #fff;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 50px;
    align-items: center;
    margin: auto;
    .content{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        input{
            padding: 10px;
            width: 100%;
            border-radius: 10px;
        }
        textarea{
            padding: 5px;
            width: 100%;
            height: 100px;
            border-radius: 10px;
        }
        button{
            width: 70px;
            margin-top: 10px;
            background-color: blue;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 10px;
            border: none;
     }
    }
}

/* Media Query */
@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}

