*{
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper{
    padding: 4%;
    width: 430px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 0.5px solid darkblue;
    color: #fff;
    border-radius: 10px;
}
.wrapper h1{
    font-size: 40px;
    text-align: center;
    
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid grey;
    border-radius: 40px;
    color: #fff;
    padding-left: 10px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 12px;
    bottom: 15px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
}

.remember-forgot a{
    color: lightblue;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor:pointer;
    font-size: 16px;
    color: darkblue;
    font-weight: 600;
}

.wrapper .register-link{
    text-align: center;
    margin-top: 15px;
}

.register-link p a{
    color: lightblue;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}